@media screen and (max-width: 600px) {
    header>span.material-symbols-outlined{
        display: flex;
        border: 2px solid black;
        width: 20px;
        font-size: 20px;
        position: absolute;
        align-items: center;
        color: red;
    }


    div.imagem_e_info{
        transform: translate(-53%, 0%);
    }
    
    div>img.imagem_div{
        width: 346px;
    }
    
    div#info_apresentacao{
        width: 346px;
        position: absolute;
        top: 100%;
        height: 56%;
        background-color: #dbe3ea;
    }
    
     h1.txt_nome{
        display: flex;
        margin: auto;
        top: 66px;
        width: 204px;
    }
    
     p.text_prof{
        top: 80px;
    }
    
    p.txt_bem-vindo{
        top: 45px;
    }

    h1.about{
        margin-top: 80%;
    }

    .projetos{
        top: 210px;
        margin-top: 112%;
    }

    div.imagens_projetos{
        display: grid;

    }

    div>img.img_site-informatica{
        margin-right: 10px;
        transform: translate(2%, 0%);
    }
}