*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #ffffff;
    height: 100vh;
}

div>span.material-symbols-outlined{
    display: none;
}

.btn_portfolio{
    display: flex;
    margin: auto;
    border: 1px solid black;
    padding: 2px;
    width: 132px;
    margin-top: 48px;
    font-size: 22px;
    justify-content: center;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.menu_link{
    text-decoration: none;
}

ul.menu {
    display: flex;
    list-style: none;
    /* text-align: center; */
    justify-content: center;
    font-size: 19px;
    /* color: #dbe3ea; */
}

a{
    text-decoration: none;
    color: #000000;
}

.links-principal{
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

li.menu-item{
    padding-inline: 20px;
    cursor: pointer;
    padding-top: 26px;
}

a:hover{
    color: #7e7aeb;
}

div.imagem_e_info{
    display: flex;
    position: absolute;
    margin: 10px;
    top: 148px;
    left: 50%;
    transform: translate(-50%, 0%);
    /* border: 2px solid black; */
    /* font-family: 'Playfair Display', serif; */
}

div>img.imagem_div{
    width: 346px;
}

div#info_apresentacao{
    background-color: #dbe3ea;
    float: right;
    width: 247px;
    font-family: 'Playfair Display', serif;
}

h1.txt_nome{
    position: relative;
    text-align: center;
    top: 200px;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
}

p.text_prof{
    position: relative;
    text-align: center;
    top: 210px;
    font-size: 15px;
    color: #808080;
}

p.txt_bem-vindo{
    position: relative;
    text-align: center;
    top: 100px;
    /* font-size: medium; */
    color: black;
    font-family: open sans;
}

div.caixa_texto{
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    width: 56%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -0%); 
}

h1.about{
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: 500;
    padding: 18px;
    margin-top: 20px;
}

p.info_about{
    margin-bottom: 32px;
    font-family: open sans;
    font-size: 18px;
}

.a-botao{
    width: 0px;
}

.linka {
    position: relative;
    padding: 8px;
    font-size: 18px;
    width: 90px;
    top: 96%;
    cursor: pointer;
    right: 218px;
    background-color: #0e89e6;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-family: 'playfair display';

    transform: translate(16%, 0%);
    cursor: pointer;
    -webkit-transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
}

.linka:hover{
    -webkit-transform: scale(0.1);
    transform: scale(1.1);

    background-color: #0c6ab3;
    font-size: 19px;
}

.projetos{
    position: relative;
    text-align: center;
    top: 200px;
    margin-top: 24px;
}

div.projetos>h1{
    font-weight: 500;
    font-size: 28px;
}

div.imagens_projetos{
    display: flex;
    justify-content: center;
    
}

div>img.img_site-informatica{
    display: flex;
    width: 250px;
    margin-right: 23px;
    margin-top: 36px;
    border: 2px solid #f1efea;
    box-shadow: 0px 0px 8px 7px #f1efea;
}

div.contatos{
    display: flex;
    top: 340px;
    height: 272px;
    background-color: #565555;
    position: relative;
}

h1.contact_alt{
    position: absolute;
    right: 46%;
    font-family: 'Playfair Display', serif;
}

a.link_email, .link_fone{
    color: #4f4f9f;
}

.p_email, .p_telefone{
    font-family: open sans, sans-serif;
}

.span-p_mail{
   position: absolute;
   
   margin-top: 94px;
   right: 55%;
   font-size: 22px;
   background-color: #ffffff;
   width: 84px;
   padding: 4px;
   box-shadow: 0px 0px 5px 1px #dbe3ea;    
}

div.email_contact{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: #ffffff;
}

.span-p_fone{
    position: absolute;
    text-align: center;
    font-size: 22px;
    background-color: #ffffff;
    width: 84px;
    padding: 4px;
    box-shadow: 0px 0px 5px 1px #dbe3ea;
    margin-top: 114px;
    right: 39%;
}

