*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #ffffff;
    height: 100vh;
}

.btn_portfolio{
    display: flex;
    margin: auto;
    border: 1px solid black;
    padding: 2px;
    width: 132px;
    margin-top: 48px;
    font-size: 22px;
    justify-content: center;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

a{
    text-decoration: none;
}
.links-principal{
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

li.menu{
    padding-inline: 20px;
    cursor: pointer;
    padding-top: 26px;
}

li.menu:hover{
    color: #7e7aeb;
}

div.imagem_e_info{
    display: flex;
    position: absolute;
    margin: 10px;
    top: 180px;
    border: 2px solid black;
    font-family: 'Playfair Display', serif;
}

div>img.imagem_div{
    width: 350px;
}

div#info_apresentacao{
    background-color: #bdc0e8;
    float: right;
    width: 350px;
}

h1.txt_nome{
    font-weight: lighter;
}

